<%- include('./templates/head') %>
<body>
    <%- include('./templates/navbar') %>
    <main>
        <div>
            <p>Lo sentimos, la página que estás buscando no existe. Por favor, verifica la URL o regresa a la <a class="purple_link" href="/"><span>página principal</h1></a>.</p>
        </div>
        <div>
            <img src="/img/error_404.jpg" alt="Error 404">
        </div>
    </main>
    <%- include('./templates/footer') %>
</body>
</html>