<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Proyecto Final - MF0493 - S.Topham" />
		<meta
			name="keywords"
			content="proyecto_final, cief, MF0493, games, gaming, videogames, game_ranking"
		/>
		<meta name="author" content="S. Topham" />
		<title><%= title %></title>
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/css/style.css" />
		<script src="/js/init.js" defer></script>
		<script src="/js/utils.js" defer></script>
		<script src="/js/ui.js" defer></script>
		<script src="/js/forms.js" defer></script>
		<script src="/js/modals.js" defer></script>
		<script src="/js/api.js" defer></script>
		<script src="/js/script.js" defer></script>
	</head>